<div class='header__menu tk-national'>
	<p class='menu__tagline'><a href='https://narro.design' target='_blank'>Narro</a> is a creative visualization space built to explore unique datasets, topics, questions and ideas.</p>
	<ul class='menu__links'>
		<li><a href='https://narro.design/#new' target='_blank'>What’s New</a></li>
		{{!-- <li><a href='https://narro.design/archives' target='_blank'>All Essays</a></li> --}}
		<li><a href='https://narro.design/about/' target='_blank'>About Us</a>
	</ul>
	<img src="../assets/images/narro-official-inverse.png" class="bottom-logo">

</div>
<button class='header__toggle'>
	<span><img inline src='menu.svg'></span>
	<span><img inline src='x.svg'></span>
</button>
